.logoContainer {
    position: fixed;
    background-color: rgba(15, 15, 15, 0.87);
    top: 0;
    left: 30%;
    right: 30%;
    min-width: 20rem;
    border-radius: 0 0 15px 15px;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    overflow: hidden;
}

.logoContainer>* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dateText {
    font-size: .9rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    grid-column: 1;
    padding-left: 1.15rem;
    letter-spacing: .08rem;
    margin: 0;
    margin-top: .2rem;
}

.timeText {
    font-size: .9rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    grid-column: 3;
    padding-right: 1.2rem;
    letter-spacing: .08rem;
    margin: 0;
    margin-top: .2rem;
    text-align: right;
    text-wrap: nowrap;
}

.logoText {
    font-size: 1.15rem;
    color: white;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    grid-column: 2;
    margin: 0;
}