.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin-bottom: -2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818d8;
    padding: 20px 40px 20px 40px;
    z-index: 50;
    font-size: larger;
}

.lat,
.lon {
    margin: 0;
}

.lon {
    color: #4caf50;
}

.lat {
    color: #ff5e00;
}