.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin-bottom: -3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(15, 15, 15, 0.87);
    padding: 10px 60px 10px 60px;
    z-index: 50;
    font-size: larger;
}

.title {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    letter-spacing: .04rem;
    font-weight: 300;
}

.lat,
.lon {
    margin: 0;
    font-weight: 400;
}

.lat {
    color: #4caf50;
}

.lon {
    color: #ff5e00;
}