.logoContainer {
    position: fixed;
    background-color: rgba(15, 15, 15, 0.87);
    top: 0;
    left: 30%;
    right: 30%;
    border-radius: 0 0 15px 15px;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: .2rem;
    overflow: hidden;
}

.dateText {
    font-size: .9rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    grid-column: 1;
    padding-left: 1rem;
    margin: 0;
}

.logoText {
    font-size: 1.3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    grid-column: 2;
    margin: 0;
}