.locInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline;
}



.city {
    font-weight: 200;
}

.county {
    font-size: 1rem;
    color: #9b9b9b;
}

.state {
    font-size: 1rem;
    color: #9b9b9b;
}

.country {
    font-weight: 200;
}